<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starlink | Residencial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>

    <div class="page-grid-container">
        <section class="grid-item0 content-line-0">

            <div class="header-line">
                <div class="left-header">
                    <!-- Conteúdo do logo -->
                    <a class="logo" href="/">
                        <img src="{{ url_for('static', filename='imagens/logo_white.png') }}" alt="Logo" style="height:30px;" />
                    </a>

                </div>

                <div class="left2-header">
                    <!-- Links centrais -->
                    <a class="header-href" href="/br/residential">RESIDENCIAL</a>
                    <a class="header-href" href="/br/roam">VIAGEM</a>
                </div>

                <div class="espaça-header">

                </div>

                <div class="right-header">
                    <!-- Links da direita -->
                    <a class="header-href" href="/br">PESSOAL</a>
                    <a class="header-href" href="/br/business">COMERCIAL</a>
                    <!--<button class="menu-button">
                        <img src="{{ url_for('static', filename='imagens/Menu_Hamburger.svg') }}" alt="Logo" style="height:20px;" />
                    </button>-->
                </div>
            </div>
        </section>


        <section class="grid-item content-line-1">
            Conteúdo - Linha 1
        </section>

        <section class="grid-item content-line-2">
            Conteúdo - Linha 2
        </section>

        <section class="grid-item content-line-3">
            Conteúdo - Linha 3
        </section>

        <section class="grid-item content-line-4">
            Conteúdo - Linha 4
        </section>

        <section class="grid-item content-line-5">
            Conteúdo - Linha 5
        </section>

        <section class="grid-item content-line-6">
            Conteúdo - Linha 6
        </section>

        <section class="grid-item content-line-7">
            Conteúdo - Linha 7
        </section>

        <section class="grid-item content-line-8">
            Conteúdo - Linha 8
        </section>

        <section class="grid-item content-line-9">
            Conteúdo - Linha 9
        </section>

        <footer class="grid-item footer-line">
            Rodapé
        </footer>

    </div>

</body>
</html>
